---
import { Icon } from "astro-icon/components";

import { getCollection } from "astro:content";
import { marked } from "marked";

const allEvents = await getCollection("events", ({ id }: any) => {
  return id.startsWith(Astro.currentLocale);
});

const sortedEvents = allEvents.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

import { useTranslations } from "../i18n/ui";
const t = useTranslations(Astro.currentLocale);
---

<section class="py-32 px-6 md:px-16 bg-[#f7f3ef] fade-in-section" id="events">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-brand-primary mb-16 text-center">
      {t("events.title")}
    </h1>
    <div class="max-w-4xl mx-auto flex flex-col space-y-6">
      {
        sortedEvents.map((event: any) => (
          <div class="border-b border-brand-primary/20 pb-8 flex flex-col md:flex-row justify-between items-start md:items-center gap-6 hover:border-brand-primary transition-colors">
            <div>
              <div class="font-label-sm text-[#716E11] uppercase tracking-widest mb-2">
                {event.data.date.toLocaleDateString()}
              </div>
              <h2 class="text-brand-primary">{event.data.title}</h2>
              <article
                class="prose font-body-md text-brand-primary-on-surface"
                set:html={marked.parse(event.data.description)}
              />
            </div>
            <div class="flex items-center gap-4">
              <a
                class="font-label-sm text-label-sm text-brand-primary uppercase tracking-widest border-b border-transparent group-hover:border-brand-primary transition-all flex items-center gap-2"
                href="#"
              >
                {t("events.tickets")}
                <Icon name="mdi:arrow-forward" width="16" height="16" />
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
