---
import { Icon } from "astro-icon/components";
import LanguageDropdown from "./LanguageDropdown.astro";

import { getRelativeLocaleUrl } from "astro:i18n";

import { useTranslations } from "../i18n/ui";
import type { UiKey } from "../i18n/ui";

const t = useTranslations(Astro.currentLocale);

const navItems: { labelKey: UiKey; href: string }[] = [
  {
    labelKey: "site.nav_about",
    href: getRelativeLocaleUrl(Astro.currentLocale ?? "en", "about"),
  },
  { labelKey: "site.nav_events", href: "#events" },
  { labelKey: "site.nav_press", href: "#press" },
  { labelKey: "site.nav_gallery", href: "#gallery" },
  { labelKey: "site.nav_contacts", href: "#footer" },
];
---

<div
  class="fixed inset-0 bg-brand-tertiary/95 z-60 hidden flex-col p-6 transition-opacity duration-300"
  id="mobile-nav-overlay"
>
  <div class="flex justify-between items-center mb-12">
    <h2 class="font-headline-md text-brand-primary uppercase tracking-tighter">
      {t("site.hero_name")}
    </h2>
    <button class="text-brand-primary cursor-pointer" id="close-menu-btn">
      <Icon name="mdi:close" width="32" height="32" />
    </button>
  </div>
  <nav class="flex flex-col space-y-8 mt-12">
    {
      navItems.map((item) => (
        <a
          class="font-headline-md text-brand-primary hover:pl-4 transition-all duration-300 ease-in-out border-b border-brand-primary/20 pb-4"
          href={item.href}
        >
          {t(item.labelKey)}
        </a>
      ))
    }
  </nav>

  <div class="pt-8">
    <LanguageDropdown
      class="flex gap-2 items-center font-body-lg uppercase"
      variant="inline"
    />
  </div>
</div>

<header
  class="fixed top-0 w-full z-50 backdrop-blur-md bg-brand-tertiary/80 text-brand-primary"
>
  <div
    class="flex justify-between items-center px-6 md:pl-16 md:pr-6 py-2 h-20 max-w-7xl mx-auto"
  >
    <button
      class="md:hidden text-brand-primary cursor-pointer transition-opacity active:opacity-70"
      id="open-menu-btn"
    >
      <Icon name="mdi:menu" width="32" height="32" />
    </button>

    <a
      class="font-headline-md uppercase tracking-tighter"
      href={getRelativeLocaleUrl(Astro.currentLocale ?? "en", "")}
      >{t("site.hero_name")}
    </a>

    <nav class="hidden md:flex space-x-8">
      {
        navItems.map((item) => (
          <a
            class="text-body-md uppercase tracking-widest text-brand-primary-on-surface hover:text-brand-primary transition-colors duration-300"
            href={item.href}
          >
            {t(item.labelKey)}
          </a>
        ))
      }
    </nav>

    <div class="hidden md:flex space-x-2">
      <LanguageDropdown />
    </div>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const button = document.getElementById("open-menu-btn");
    const closebutton = document.getElementById("close-menu-btn");
    const menu = document.getElementById("mobile-nav-overlay");

    button?.addEventListener("click", toggleMenu);
    closebutton?.addEventListener("click", toggleMenu);

    function toggleMenu() {
      const isExpanded = button?.getAttribute("aria-expanded") === "true";
      button?.setAttribute("aria-expanded", (!isExpanded).toString());

      menu?.classList.toggle("hidden");
      menu?.classList.toggle("flex");
    }
  });
</script>
